In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv('DB_Teste.csv', sep=';')
dados.head()

,Cliente,ID,Tipo,Data da Venda,Categoria,Vendedor,Regional,Duração do Contrato (Meses),Equipe,Valor,Unnamed: 10
0,Cliente 1,2017-0022,Serviços,02/01/2018,Novo Logo,Vendedor 1,Brasil,1,Time 1,"R$ 24.800,00",NaN
1,Cliente 10,2018-0088,Serviços,14/02/2018,Novo Logo,Vendedor 1,Brasil,6,Time 1,"R$ 302.720,00",NaN
2,Cliente 10,2018-0104,Serviços,13/03/2018,Upselling,Vendedor 1,Brasil,1,Time 1,"R$ 51.894,86",NaN
3,Cliente 10,2018-0168,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86",NaN
4,Cliente 10,2018-0169,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86",NaN

In [3]:
dados.drop(columns={'Unnamed: 10'}, inplace=True)

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Cliente                      853 non-null    object
 1   ID                           853 non-null    object
 2   Tipo                         853 non-null    object
 3   Data da Venda                853 non-null    object
 4   Categoria                    853 non-null    object
 5   Vendedor                     853 non-null    object
 6   Regional                     853 non-null    object
 7   Duração do Contrato (Meses)  853 non-null    int64
 8   Equipe                       853 non-null    object
 9   Valor                        853 non-null    object
dtypes: int64(1), object(9)
memory usage: 66.8+ KB

# 1) Construa uma tabela auxiliar que sumarize o valor vendido por cada vendedor, ordenando do maior para o menor.

In [5]:
dados['Valor'] = dados['Valor'].apply(lambda x: float(x.replace('R$', '').replace('.', '').replace(',', '.')))

In [6]:
import locale
def transformacao_valor(x):
    locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')
    x = locale.currency(x, grouping=True, symbol='R$')
    return x

In [7]:
tabela_vendas_por_vendedor = dados.groupby(by='Vendedor', as_index=False)[['Valor']].sum().sort_values(by='Valor', ascending=False)
tabela_vendas_por_vendedor['Valor'] = tabela_vendas_por_vendedor['Valor'].apply(lambda x: transformacao_valor(x))
tabela_vendas_por_vendedor.reset_index(drop=True, inplace=True)
tabela_vendas_por_vendedor

       Vendedor              Valor
0    Vendedor 3  R$ 166.220.477,72
1    Vendedor 7   R$ 57.799.181,73
2   Vendedor 10   R$ 52.212.055,49
3    Vendedor 8   R$ 47.274.510,01
4    Vendedor 1   R$ 30.929.480,27
5    Vendedor 9   R$ 26.374.558,54
6   Vendedor 13   R$ 24.837.304,87
7   Vendedor 18   R$ 22.662.296,25
8   Vendedor 29   R$ 19.076.866,26
9    Vendedor 4   R$ 17.346.823,03
10  Vendedor 14    R$ 7.558.041,75
11  Vendedor 20    R$ 7.520.906,99
12  Vendedor 19    R$ 6.513.184,00
13   Vendedor 2    R$ 5.673.760,88
14  Vendedor 16    R$ 4.879.238,00
15   Vendedor 6    R$ 3.548.886,69
16  Vendedor 28    R$ 3.307.137,75
17  Vendedor 12    R$ 3.019.669,14
18  Vendedor 22    R$ 2.150.000,00
19  Vendedor 21    R$ 1.943.240,00
20  Vendedor 23    R$ 1.941.880,09
21  Vendedor 11    R$ 1.221.786,61
22  Vendedor 17    R$ 1.133.803,11
23   Vendedor 5      R$ 913.900,00
24  Vendedor 24      R$ 583.970,00
25  Vendedor 30      R$ 515.446,83
26  Vendedor 27      R$ 420.000,00
27  Vendedor 26      R$ 384.000,00
28  Vendedor 15       R$ 86.504,61
29  Vendedor 25       R$ 40.532,00

# 2) Imprima e identifica qual foi o cliente responsável pela venda com maior valor e com menor valor.

In [8]:
maior_valor = max(dados['Valor'])
menor_valor = min(dados['Valor'])

cliente_maior_valor = dados.where(dados['Valor'] == maior_valor)
cliente_menor_valor = dados.where(dados['Valor'] == menor_valor)

cliente_maior_valor.dropna(inplace=True)
cliente_menor_valor.dropna(inplace=True)

cliente_maior_valor = cliente_maior_valor.reset_index(drop=True)
cliente_menor_valor = cliente_menor_valor.reset_index(drop=True)

cliente_maior_valor['Valor'] = cliente_maior_valor['Valor'].apply(lambda x: transformacao_valor(x))
cliente_menor_valor['Valor'] = cliente_menor_valor['Valor'].apply(lambda x: transformacao_valor(x))

print('O cliente responsável pela venda com maior valor foi o {}, com o valor de {}'.format(cliente_maior_valor['Cliente'][0], cliente_maior_valor['Valor'][0]))
print('O cliente responsável pela venda com menor valor foi o {}, com o valor de {}'.format(cliente_menor_valor['Cliente'][0], cliente_menor_valor['Valor'][0]))

O cliente responsável pela venda com maior valor foi o Cliente 89, com o valor de R$ 24.970.500,00
O cliente responsável pela venda com menor valor foi o Cliente 120, com o valor de R$ 1.250,00

# 3) Imprima valor médio por Tipo de venda (Serviços, Licenciamento, Produtos).

In [9]:
tabela_valor_medio_tipo_venda = dados.groupby(by='Tipo', as_index=False)[['Valor']].mean()
tabela_valor_medio_tipo_venda['Valor'] = tabela_valor_medio_tipo_venda['Valor'].apply(lambda x: transformacao_valor(x))

for i in range(0, len(tabela_valor_medio_tipo_venda)):
    print('Tipo: {} / Valor médio: {}'.format(tabela_valor_medio_tipo_venda['Tipo'][i], tabela_valor_medio_tipo_venda['Valor'][i]))

Tipo: Licenciamento / Valor médio: R$ 983.448,77
Tipo: Produtos / Valor médio: R$ 893.409,19
Tipo: Serviços / Valor médio: R$ 314.567,94

# 4) Imprima o número de vendas realizada por cliente.

In [10]:
tabela_num_vendas_cliente = dados.groupby(by='Cliente', as_index=False)[['ID']].count()
tabela_num_vendas_cliente.rename(columns={'ID':'Numero de Vendas'}, inplace=True)

for i in range(0, len(tabela_num_vendas_cliente)):
    print('Cliente: {} - Número de Vendas: {}'.format(tabela_num_vendas_cliente['Cliente'][i], tabela_num_vendas_cliente['Numero de Vendas'][i]))

Cliente: Cliente 1 - Número de Vendas: 1
Cliente: Cliente 10 - Número de Vendas: 43
Cliente: Cliente 100 - Número de Vendas: 1
Cliente: Cliente 101 - Número de Vendas: 2
Cliente: Cliente 102 - Número de Vendas: 1
Cliente: Cliente 103 - Número de Vendas: 1
Cliente: Cliente 104 - Número de Vendas: 1
Cliente: Cliente 105 - Número de Vendas: 1
Cliente: Cliente 106 - Número de Vendas: 1
Cliente: Cliente 107 - Número de Vendas: 1
Cliente: Cliente 108 - Número de Vendas: 2
Cliente: Cliente 109 - Número de Vendas: 5
Cliente: Cliente 11 - Número de Vendas: 1
Cliente: Cliente 110 - Número de Vendas: 1
Cliente: Cliente 111 - Número de Vendas: 2
Cliente: Cliente 112 - Número de Vendas: 1
Cliente: Cliente 113 - Número de Vendas: 1
Cliente: Cliente 114 - Número de Vendas: 1
Cliente: Cliente 115 - Número de Vendas: 1
Cliente: Cliente 116 - Número de Vendas: 3
Cliente: Cliente 117 - Número de Vendas: 1
Cliente: Cliente 118 - Número de Vendas: 2
Cliente: Cliente 119 - Número de Vendas: 1
Cliente: Cliente 12 - Número de Vendas: 11
Cliente: Cliente 120 - Número de Vendas: 1
Cliente: Cliente 121 - Número de Vendas: 1
Cliente: Cliente 122 - Número de Vendas: 1
Cliente: Cliente 123 - Número de Vendas: 2
Cliente: Cliente 124 - Número de Vendas: 2
Cliente: Cliente 125 - Número de Vendas: 1
Cliente: Cliente 126 - Número de Vendas: 2
Cliente: Cliente 127 - Número de Vendas: 1
Cliente: Cliente 128 - Número de Vendas: 1
Cliente: Cliente 129 - Número de Vendas: 1
Cliente: Cliente 13 - Número de Vendas: 26
Cliente: Cliente 130 - Número de Vendas: 1
Cliente: Cliente 131 - Número de Vendas: 2
Cliente: Cliente 132 - Número de Vendas: 1
Cliente: Cliente 133 - Número de Vendas: 1
Cliente: Cliente 135 - Número de Vendas: 1
Cliente: Cliente 136 - Número de Vendas: 2
Cliente: Cliente 137 - Número de Vendas: 1
Cliente: Cliente 138 - Número de Vendas: 3
Cliente: Cliente 139 - Número de Vendas: 1
Cliente: Cliente 14 - Número de Vendas: 21
Cliente: Cliente 140 - Número de Vendas: 2
Cliente: Cliente 141 - Número de Vendas: 1
Cliente: Cliente 142 - Número de Vendas: 1
Cliente: Cliente 143 - Número de Vendas: 1
Cliente: Cliente 144 - Número de Vendas: 1
Cliente: Cliente 145 - Número de Vendas: 2
Cliente: Cliente 146 - Número de Vendas: 1
Cliente: Cliente 147 - Número de Vendas: 1
Cliente: Cliente 148 - Número de Vendas: 1
Cliente: Cliente 149 - Número de Vendas: 2
Cliente: Cliente 15 - Número de Vendas: 4
Cliente: Cliente 150 - Número de Vendas: 1
Cliente: Cliente 151 - Número de Vendas: 1
Cliente: Cliente 152 - Número de Vendas: 1
Cliente: Cliente 153 - Número de Vendas: 1
Cliente: Cliente 154 - Número de Vendas: 1
Cliente: Cliente 155 - Número de Vendas: 1
Cliente: Cliente 156 - Número de Vendas: 1
Cliente: Cliente 157 - Número de Vendas: 1
Cliente: Cliente 158 - Número de Vendas: 1
Cliente: Cliente 159 - Número de Vendas: 1
Cliente: Cliente 16 - Número de Vendas: 19
Cliente: Cliente 160 - Número de Vendas: 1
Cliente: Cliente 17 - Número de Vendas: 3
Cliente: Cliente 18 - Número de Vendas: 1
Cliente: Cliente 19 - Número de Vendas: 1
Cliente: Cliente 2 - Número de Vendas: 21
Cliente: Cliente 20 - Número de Vendas: 1
Cliente: Cliente 21 - Número de Vendas: 6
Cliente: Cliente 22 - Número de Vendas: 1
Cliente: Cliente 23 - Número de Vendas: 8
Cliente: Cliente 24 - Número de Vendas: 13
Cliente: Cliente 25 - Número de Vendas: 2
Cliente: Cliente 26 - Número de Vendas: 25
Cliente: Cliente 27 - Número de Vendas: 4
Cliente: Cliente 28 - Número de Vendas: 1
Cliente: Cliente 29 - Número de Vendas: 3
Cliente: Cliente 3 - Número de Vendas: 31
Cliente: Cliente 30 - Número de Vendas: 20
Cliente: Cliente 31 - Número de Vendas: 14
Cliente: Cliente 32 - Número de Vendas: 3
Cliente: Cliente 33 - Número de Vendas: 4
Cliente: Cliente 34 - Número de Vendas: 8
Cliente: Cliente 35 - Número de Vendas: 1
Cliente: Cliente 36 - Número de Vendas: 1
Cliente: Cliente 37 - Número de Vendas: 9
Cliente: Cliente 38 - Número de Vendas: 5
Cliente: Cliente 39 - Número de Vendas: 1
Cliente: Cliente 4 - Número de Vendas: 60
Cliente: Cliente 40 - Número de Vendas: 3
Cliente: Cliente 41 - Número de Vendas: 1
Cliente: Cliente 42 - Número de Vendas: 6
Cliente: Cliente 43 - Número de Vendas: 13
Cliente: Cliente 44 - Número de Vendas: 9
Cliente: Cliente 45 - Número de Vendas: 1
Cliente: Cliente 46 - Número de Vendas: 2
Cliente: Cliente 47 - Número de Vendas: 3
Cliente: Cliente 48 - Número de Vendas: 1
Cliente: Cliente 49 - Número de Vendas: 1
Cliente: Cliente 5 - Número de Vendas: 128
Cliente: Cliente 50 - Número de Vendas: 11
Cliente: Cliente 51 - Número de Vendas: 2
Cliente: Cliente 52 - Número de Vendas: 17
Cliente: Cliente 53 - Número de Vendas: 2
Cliente: Cliente 54 - Número de Vendas: 2
Cliente: Cliente 55 - Número de Vendas: 1
Cliente: Cliente 56 - Número de Vendas: 1
Cliente: Cliente 57 - Número de Vendas: 1
Cliente: Cliente 58 - Número de Vendas: 2
Cliente: Cliente 59 - Número de Vendas: 3
Cliente: Cliente 6 - Número de Vendas: 2
Cliente: Cliente 60 - Número de Vendas: 1
Cliente: Cliente 61 - Número de Vendas: 1
Cliente: Cliente 62 - Número de Vendas: 2
Cliente: Cliente 63 - Número de Vendas: 1
Cliente: Cliente 64 - Número de Vendas: 3
Cliente: Cliente 65 - Número de Vendas: 2
Cliente: Cliente 66 - Número de Vendas: 2
Cliente: Cliente 67 - Número de Vendas: 3
Cliente: Cliente 68 - Número de Vendas: 7
Cliente: Cliente 69 - Número de Vendas: 2
Cliente: Cliente 7 - Número de Vendas: 10
Cliente: Cliente 70 - Número de Vendas: 1
Cliente: Cliente 71 - Número de Vendas: 9
Cliente: Cliente 73 - Número de Vendas: 2
Cliente: Cliente 74 - Número de Vendas: 1
Cliente: Cliente 75 - Número de Vendas: 8
Cliente: Cliente 76 - Número de Vendas: 7
Cliente: Cliente 77 - Número de Vendas: 2
Cliente: Cliente 78 - Número de Vendas: 2
Cliente: Cliente 79 - Número de Vendas: 2
Cliente: Cliente 8 - Número de Vendas: 61
Cliente: Cliente 80 - Número de Vendas: 1
Cliente: Cliente 81 - Número de Vendas: 3
Cliente: Cliente 82 - Número de Vendas: 6
Cliente: Cliente 84 - Número de Vendas: 2
Cliente: Cliente 85 - Número de Vendas: 1
Cliente: Cliente 86 - Número de Vendas: 1
Cliente: Cliente 87 - Número de Vendas: 1
Cliente: Cliente 88 - Número de Vendas: 1
Cliente: Cliente 89 - Número de Vendas: 5
Cliente: Cliente 9 - Número de Vendas: 17
Cliente: Cliente 90 - Número de Vendas: 1
Cliente: Cliente 91 - Número de Vendas: 2
Cliente: Cliente 92 - Número de Vendas: 2
Cliente: Cliente 93 - Número de Vendas: 2
Cliente: Cliente 94 - Número de Vendas: 6
Cliente: Cliente 95 - Número de Vendas: 1
Cliente: Cliente 96 - Número de Vendas: 4
Cliente: Cliente 97 - Número de Vendas: 1
Cliente: Cliente 98 - Número de Vendas: 1
Cliente: Cliente 99 - Número de Vendas: 1