Para iniciar, vamos importar a biblioteca Pandas no Python para facilitar a análise dos dados.
Além disso, vamos usar a função read_csv do pandas para acessar o arquivo CSV no Github.

In [82]:
import pandas as pd

df  = pd.read_csv("https://raw.githubusercontent.com/ricardojr98/desafio-sql/main/DB_Teste.csv", sep = ";", encoding="utf-8")

Vamos utilizar os seguintes comandos para convertermos valores do formato string R$ XX.XXX,XX para o tipo float.

In [72]:
df["Valor"] = df["Valor"].apply(lambda x: str(x).replace(".",""))
df["Valor"] = df["Valor"].apply(lambda x: str(x).replace("R$",""))
df["Valor"] = df["Valor"].apply(lambda x: str(x).replace(",","."))
df["Valor"] = df["Valor"].astype("float64")

Criando uma tabela auxiliar de nome vendas_vendedor, vamos preencher utilizando a função filter que seleciona as colunas "Vendedor" e "Valor".

In [73]:
vendas_vendedor = df.filter(items=["Vendedor", "Valor"])

Utilizando-se da função groupby e da função sum, vamos agrupar a somatória dos valores de vendas por vendedor.

In [74]:
vendas_vendedor = vendas_vendedor.groupby(["Vendedor"], as_index=False).sum()

A função sort_values ordena os valores de vendas por Vendedor, colocamos ascending como False para ordenamos do maior para o menor

In [75]:
vendas_vendedor.sort_values("Valor", ascending = False)

       Vendedor         Valor
22   Vendedor 3  9.076707e+10
1   Vendedor 10  3.227204e+10
0    Vendedor 1  2.002734e+10
21  Vendedor 29  1.856967e+10
28   Vendedor 8  1.597673e+10
4   Vendedor 13  1.588746e+10
29   Vendedor 9  1.559958e+10
9   Vendedor 18  1.507744e+10
27   Vendedor 7  1.480929e+10
24   Vendedor 4  6.232153e+09
5   Vendedor 14  5.127225e+09
7   Vendedor 16  3.915925e+09
12  Vendedor 20  3.404884e+09
20  Vendedor 28  3.307138e+09
11   Vendedor 2  2.732674e+09
26   Vendedor 6  2.274030e+09
3   Vendedor 12  1.471128e+09
10  Vendedor 19  6.513184e+08
23  Vendedor 30  5.154468e+08
15  Vendedor 23  2.412469e+08
14  Vendedor 22  2.150000e+08
13  Vendedor 21  1.943240e+08
8   Vendedor 17  1.842090e+08
2   Vendedor 11  1.763716e+08
25   Vendedor 5  9.139000e+07
6   Vendedor 15  8.650461e+07
16  Vendedor 24  5.839700e+07
19  Vendedor 27  4.200000e+07
18  Vendedor 26  3.840000e+07
17  Vendedor 25  4.053200e+06

Vamos utilizar as funções idxmax() e idxmin() para identificarmos os valores de maior e menor valor respectivamente, na coluna cliente.

In [76]:
cliente_maior_venda = df["Cliente"][df["Valor"].idxmax()]
valor_maior_venda = df["Valor"][df["Valor"].idxmax()]
cliente_menor_venda = df["Cliente"][df["Valor"].idxmin()]
valor_menor_venda = df["Valor"][df["Valor"].idxmin()]

Vamos formatar os valores encontrados nas variáveis para a saída no padrão R$ XX.XXX,XX utilizando as funções format e replace

In [77]:
valor_maior_venda_monetario = "R$ {:,.2f}".format(valor_maior_venda).replace(".", ",").replace(",", ".", 1).replace(",", ".", 1)
valor_menor_venda_monetario = "R$ {:,.2f}".format(valor_menor_venda).replace(".", ",").replace(",", ".", 1)

Imprimindo os resultados encontrados:

In [78]:
print("Cliente com maior venda:", cliente_maior_venda, "no valor de:", valor_maior_venda_monetario, ", e cliente com menor venda:", cliente_menor_venda, "no valor de:", valor_menor_venda_monetario)

Cliente com maior venda: Cliente 21 no valor de: R$ 18.192.880,380,00 , e cliente com menor venda: Cliente 120 no valor de: R$ 125.000,00

Vamos filtrar os tipos de venda na coluna "Tipo" utilizando a função filtes, e encontrar o valor médio da coluna "Valor" utilizando a função mean.

In [79]:
mediatipo = df.filter(items=["Tipo","Valor"])
mediatipo = mediatipo.groupby("Tipo").mean()

Utilizando-se da função apply e format, vamos aplicar a formatação no padrão R$ XX.XXX,XX

In [80]:
mediatipo["Valor"].apply(lambda x: "R$ {:,.2f}".format(x).replace(".", "-").replace(",", ".").replace("-", ","))

Tipo
Licenciamento    R$ 640.335.850,25
Produtos         R$ 318.582.463,01
Serviços         R$ 145.721.995,34
Name: Valor, dtype: object

Para imprimir o número de vendas por cliente, vamos filtrar as colunas "Cliente" e "ID" e utilizar da função count() para contarmos o número de IDs de vendas por cliente

In [81]:
vendas_cliente = df.filter(items=["Cliente","ID"])
vendas_cliente = vendas_cliente.groupby("Cliente").count()
print(vendas_cliente)

             ID
Cliente
Cliente 1     1
Cliente 10   43
Cliente 100   1
Cliente 101   2
Cliente 102   1
...          ..
Cliente 95    1
Cliente 96    4
Cliente 97    1
Cliente 98    1
Cliente 99    1

[157 rows x 1 columns]