In [56]:
import pandas as pd
import numpy as np

In [57]:
db = pd.read_csv('DB_Teste.csv', sep=';')
db

,Cliente,ID,Tipo,Data da Venda,Categoria,Vendedor,Regional,Duração do Contrato (Meses),Equipe,Valor,Unnamed: 10
0,Cliente 1,2017-0022,Serviços,02/01/2018,Novo Logo,Vendedor 1,Brasil,1,Time 1,"R$ 24.800,00",NaN
1,Cliente 10,2018-0088,Serviços,14/02/2018,Novo Logo,Vendedor 1,Brasil,6,Time 1,"R$ 302.720,00",NaN
2,Cliente 10,2018-0104,Serviços,13/03/2018,Upselling,Vendedor 1,Brasil,1,Time 1,"R$ 51.894,86",NaN
3,Cliente 10,2018-0168,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86",NaN
4,Cliente 10,2018-0169,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86",NaN
...,...,...,...,...,...,...,...,...,...,...,...
848,Cliente 96,2020-2928,Serviços,30/10/2020,Cross selling,Vendedor 1,Brasil,14,Time 1,"R$ 273.000,00",NaN
849,Cliente 96,2021-3613,Produtos,15/03/2021,Upselling,Vendedor 13,Brasil,24,Time 3,"R$ 120.964,32",NaN
850,Cliente 97,2020-2164,Produtos,07/05/2020,Novo Logo,Vendedor 19,Brasil,39,Time 3,"R$ 281.880,00",NaN
851,Cliente 98,2020-2285,Produtos,11/05/2020,Novo Logo,Vendedor 19,Brasil,12,Time 3,"R$ 720.000,00",NaN
852,Cliente 99,2020-2088,Licenciamento,12/05/2020,Novo Logo,Vendedor 9,Brasil,12,Time 3,"R$ 296.498,85",NaN

In [58]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Cliente                      853 non-null    object
 1   ID                           853 non-null    object
 2   Tipo                         853 non-null    object
 3   Data da Venda                853 non-null    object
 4   Categoria                    853 non-null    object
 5   Vendedor                     853 non-null    object
 6   Regional                     853 non-null    object
 7   Duração do Contrato (Meses)  853 non-null    int64
 8   Equipe                       853 non-null    object
 9   Valor                        853 non-null    object
 10  Unnamed: 10                  0 non-null      float64
dtypes: float64(1), int64(1), object(9)
memory usage: 73.4+ KB

In [59]:
db.drop(['Unnamed: 10'], axis=1, inplace=True)

In [60]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Cliente                      853 non-null    object
 1   ID                           853 non-null    object
 2   Tipo                         853 non-null    object
 3   Data da Venda                853 non-null    object
 4   Categoria                    853 non-null    object
 5   Vendedor                     853 non-null    object
 6   Regional                     853 non-null    object
 7   Duração do Contrato (Meses)  853 non-null    int64
 8   Equipe                       853 non-null    object
 9   Valor                        853 non-null    object
dtypes: int64(1), object(9)
memory usage: 66.8+ KB

In [61]:
db['Valor'] = db['Valor'].apply(lambda x: float(x.replace('R$', '').replace('.', '').replace(',', '.')))
db.rename(columns = {'Data da Venda':'Data_da_Venda'}, inplace=True)
db.rename(columns = {'Duração do Contrato (Meses)':'Duracao_do_Contrato_Meses'}, inplace=True)

In [62]:
db

,Cliente,ID,Tipo,Data_da_Venda,Categoria,Vendedor,Regional,Duracao_do_Contrato_Meses,Equipe,Valor
0,Cliente 1,2017-0022,Serviços,02/01/2018,Novo Logo,Vendedor 1,Brasil,1,Time 1,24800.00
1,Cliente 10,2018-0088,Serviços,14/02/2018,Novo Logo,Vendedor 1,Brasil,6,Time 1,302720.00
2,Cliente 10,2018-0104,Serviços,13/03/2018,Upselling,Vendedor 1,Brasil,1,Time 1,51894.86
3,Cliente 10,2018-0168,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,51894.86
4,Cliente 10,2018-0169,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,51894.86
...,...,...,...,...,...,...,...,...,...,...
848,Cliente 96,2020-2928,Serviços,30/10/2020,Cross selling,Vendedor 1,Brasil,14,Time 1,273000.00
849,Cliente 96,2021-3613,Produtos,15/03/2021,Upselling,Vendedor 13,Brasil,24,Time 3,120964.32
850,Cliente 97,2020-2164,Produtos,07/05/2020,Novo Logo,Vendedor 19,Brasil,39,Time 3,281880.00
851,Cliente 98,2020-2285,Produtos,11/05/2020,Novo Logo,Vendedor 19,Brasil,12,Time 3,720000.00
852,Cliente 99,2020-2088,Licenciamento,12/05/2020,Novo Logo,Vendedor 9,Brasil,12,Time 3,296498.85

In [63]:
def transforma_moeda(my_value):
    a = '{:,.2f}'.format(float(my_value))
    b = a.replace(',','v')
    c = b.replace('.',',')
    return c.replace('v','.')

# Construa uma tabela auxiliar que sumarize o valor vendido por cada vendedor, ordenando do maior para o menor

In [64]:
tab_auxiliar = db.groupby(by='Vendedor')[['Valor']].sum().sort_values(by='Valor', ascending=False)
tab_auxiliar['Valor'] = tab_auxiliar['Valor'].apply(lambda x: transforma_moeda(x))
tab_auxiliar

                      Valor
Vendedor
Vendedor 3   166.220.477,72
Vendedor 7    57.799.181,73
Vendedor 10   52.212.055,49
Vendedor 8    47.274.510,01
Vendedor 1    30.929.480,27
Vendedor 9    26.374.558,54
Vendedor 13   24.837.304,87
Vendedor 18   22.662.296,25
Vendedor 29   19.076.866,26
Vendedor 4    17.346.823,03
Vendedor 14    7.558.041,75
Vendedor 20    7.520.906,99
Vendedor 19    6.513.184,00
Vendedor 2     5.673.760,88
Vendedor 16    4.879.238,00
Vendedor 6     3.548.886,69
Vendedor 28    3.307.137,75
Vendedor 12    3.019.669,14
Vendedor 22    2.150.000,00
Vendedor 21    1.943.240,00
Vendedor 23    1.941.880,09
Vendedor 11    1.221.786,61
Vendedor 17    1.133.803,11
Vendedor 5       913.900,00
Vendedor 24      583.970,00
Vendedor 30      515.446,83
Vendedor 27      420.000,00
Vendedor 26      384.000,00
Vendedor 15       86.504,61
Vendedor 25       40.532,00

# Imprima e identifica qual foi o cliente responsável pela venda com maior valor e com menor valor

In [65]:
tab_venda = db.groupby(by='Cliente').agg({'Valor':'sum'})
tab_venda = tab_venda.sort_values('Valor',ascending=False)
tab_venda['Valor'] = tab_venda['Valor'].apply(lambda x: transforma_moeda(x))
tab_venda

                     Valor
Cliente
Cliente 5    92.013.021,46
Cliente 3    47.408.390,61
Cliente 14   38.916.201,96
Cliente 89   30.217.890,61
Cliente 8    25.466.451,90
...                    ...
Cliente 18        6.000,00
Cliente 39        4.495,00
Cliente 144       2.500,00
Cliente 86        2.257,50
Cliente 120       1.250,00

[157 rows x 1 columns]

In [66]:
print(f"{tab_venda.index[0]} foi responsável pela venda com maior valor com total de R$ {tab_venda.Valor[0]}")
print(f"{tab_venda.index[-1]} foi responsável pela venda com menor valor com total de R$ {tab_venda.Valor[-1]}")

Cliente 5 foi responsável pela venda com maior valor com total de R$ 92.013.021,46
Cliente 120 foi responsável pela venda com menor valor com total de R$ 1.250,00

# Imprima valor médio por Tipo de venda (Serviços, Licenciamento, Produtos)

In [67]:
tab_medio_tipo = db.groupby(by='Tipo').agg({'Valor':'mean'})
tab_medio_tipo = tab_medio_tipo.sort_values('Valor',ascending=False)
tab_medio_tipo['Valor'] = tab_medio_tipo['Valor'].apply(lambda x: transforma_moeda(x))
tab_medio_tipo

                    Valor
Tipo
Licenciamento  983.448,77
Produtos       893.409,19
Serviços       314.567,94

In [68]:
for i in range(0, len(tab_medio_tipo)):
    print(f'Tipo: {tab_medio_tipo.index[i]} - Valor médio: R$ {tab_medio_tipo.Valor[i]}')

Tipo: Licenciamento - Valor médio: R$ 983.448,77
Tipo: Produtos - Valor médio: R$ 893.409,19
Tipo: Serviços - Valor médio: R$ 314.567,94

# Imprima o número de vendas realizada por cliente

In [69]:
tab_n_vendas_cliente = db.groupby(by = 'Cliente')[['ID']].count().sort_values('ID')
tab_n_vendas_cliente.rename(columns = {'ID':'Numero_de_Vendas'}, inplace=True)
tab_n_vendas_cliente

            Numero_de_Vendas
Cliente
Cliente 1                  1
Cliente 98                 1
Cliente 22                 1
Cliente 20                 1
Cliente 19                 1
...                      ...
Cliente 3                 31
Cliente 10                43
Cliente 4                 60
Cliente 8                 61
Cliente 5                128

[157 rows x 1 columns]

In [70]:
for i in range(0, len(tab_n_vendas_cliente)):
    print(f'Cliente: {tab_n_vendas_cliente.index[i]} - Número de Vendas: {tab_n_vendas_cliente.Numero_de_Vendas[i]}')

Cliente: Cliente 1 - Número de Vendas: 1
Cliente: Cliente 98 - Número de Vendas: 1
Cliente: Cliente 22 - Número de Vendas: 1
Cliente: Cliente 20 - Número de Vendas: 1
Cliente: Cliente 19 - Número de Vendas: 1
Cliente: Cliente 18 - Número de Vendas: 1
Cliente: Cliente 160 - Número de Vendas: 1
Cliente: Cliente 159 - Número de Vendas: 1
Cliente: Cliente 158 - Número de Vendas: 1
Cliente: Cliente 157 - Número de Vendas: 1
Cliente: Cliente 28 - Número de Vendas: 1
Cliente: Cliente 156 - Número de Vendas: 1
Cliente: Cliente 154 - Número de Vendas: 1
Cliente: Cliente 153 - Número de Vendas: 1
Cliente: Cliente 152 - Número de Vendas: 1
Cliente: Cliente 151 - Número de Vendas: 1
Cliente: Cliente 150 - Número de Vendas: 1
Cliente: Cliente 148 - Número de Vendas: 1
Cliente: Cliente 147 - Número de Vendas: 1
Cliente: Cliente 146 - Número de Vendas: 1
Cliente: Cliente 144 - Número de Vendas: 1
Cliente: Cliente 155 - Número de Vendas: 1
Cliente: Cliente 143 - Número de Vendas: 1
Cliente: Cliente 35 - Número de Vendas: 1
Cliente: Cliente 39 - Número de Vendas: 1
Cliente: Cliente 97 - Número de Vendas: 1
Cliente: Cliente 95 - Número de Vendas: 1
Cliente: Cliente 90 - Número de Vendas: 1
Cliente: Cliente 88 - Número de Vendas: 1
Cliente: Cliente 87 - Número de Vendas: 1
Cliente: Cliente 86 - Número de Vendas: 1
Cliente: Cliente 85 - Número de Vendas: 1
Cliente: Cliente 80 - Número de Vendas: 1
Cliente: Cliente 74 - Número de Vendas: 1
Cliente: Cliente 36 - Número de Vendas: 1
Cliente: Cliente 70 - Número de Vendas: 1
Cliente: Cliente 61 - Número de Vendas: 1
Cliente: Cliente 60 - Número de Vendas: 1
Cliente: Cliente 57 - Número de Vendas: 1
Cliente: Cliente 56 - Número de Vendas: 1
Cliente: Cliente 55 - Número de Vendas: 1
Cliente: Cliente 49 - Número de Vendas: 1
Cliente: Cliente 48 - Número de Vendas: 1
Cliente: Cliente 45 - Número de Vendas: 1
Cliente: Cliente 41 - Número de Vendas: 1
Cliente: Cliente 63 - Número de Vendas: 1
Cliente: Cliente 142 - Número de Vendas: 1
Cliente: Cliente 99 - Número de Vendas: 1
Cliente: Cliente 115 - Número de Vendas: 1
Cliente: Cliente 120 - Número de Vendas: 1
Cliente: Cliente 121 - Número de Vendas: 1
Cliente: Cliente 112 - Número de Vendas: 1
Cliente: Cliente 122 - Número de Vendas: 1
Cliente: Cliente 107 - Número de Vendas: 1
Cliente: Cliente 141 - Número de Vendas: 1
Cliente: Cliente 119 - Número de Vendas: 1
Cliente: Cliente 113 - Número de Vendas: 1
Cliente: Cliente 125 - Número de Vendas: 1
Cliente: Cliente 106 - Número de Vendas: 1
Cliente: Cliente 105 - Número de Vendas: 1
Cliente: Cliente 110 - Número de Vendas: 1
Cliente: Cliente 128 - Número de Vendas: 1
Cliente: Cliente 129 - Número de Vendas: 1
Cliente: Cliente 127 - Número de Vendas: 1
Cliente: Cliente 130 - Número de Vendas: 1
Cliente: Cliente 100 - Número de Vendas: 1
Cliente: Cliente 117 - Número de Vendas: 1
Cliente: Cliente 139 - Número de Vendas: 1
Cliente: Cliente 114 - Número de Vendas: 1
Cliente: Cliente 104 - Número de Vendas: 1
Cliente: Cliente 137 - Número de Vendas: 1
Cliente: Cliente 135 - Número de Vendas: 1
Cliente: Cliente 133 - Número de Vendas: 1
Cliente: Cliente 132 - Número de Vendas: 1
Cliente: Cliente 103 - Número de Vendas: 1
Cliente: Cliente 102 - Número de Vendas: 1
Cliente: Cliente 11 - Número de Vendas: 1
Cliente: Cliente 53 - Número de Vendas: 2
Cliente: Cliente 51 - Número de Vendas: 2
Cliente: Cliente 54 - Número de Vendas: 2
Cliente: Cliente 111 - Número de Vendas: 2
Cliente: Cliente 58 - Número de Vendas: 2
Cliente: Cliente 6 - Número de Vendas: 2
Cliente: Cliente 77 - Número de Vendas: 2
Cliente: Cliente 65 - Número de Vendas: 2
Cliente: Cliente 66 - Número de Vendas: 2
Cliente: Cliente 69 - Número de Vendas: 2
Cliente: Cliente 108 - Número de Vendas: 2
Cliente: Cliente 73 - Número de Vendas: 2
Cliente: Cliente 78 - Número de Vendas: 2
Cliente: Cliente 79 - Número de Vendas: 2
Cliente: Cliente 84 - Número de Vendas: 2
Cliente: Cliente 101 - Número de Vendas: 2
Cliente: Cliente 91 - Número de Vendas: 2
Cliente: Cliente 92 - Número de Vendas: 2
Cliente: Cliente 93 - Número de Vendas: 2
Cliente: Cliente 62 - Número de Vendas: 2
Cliente: Cliente 46 - Número de Vendas: 2
Cliente: Cliente 140 - Número de Vendas: 2
Cliente: Cliente 126 - Número de Vendas: 2
Cliente: Cliente 131 - Número de Vendas: 2
Cliente: Cliente 124 - Número de Vendas: 2
Cliente: Cliente 136 - Número de Vendas: 2
Cliente: Cliente 123 - Número de Vendas: 2
Cliente: Cliente 145 - Número de Vendas: 2
Cliente: Cliente 25 - Número de Vendas: 2
Cliente: Cliente 118 - Número de Vendas: 2
Cliente: Cliente 149 - Número de Vendas: 2
Cliente: Cliente 81 - Número de Vendas: 3
Cliente: Cliente 17 - Número de Vendas: 3
Cliente: Cliente 67 - Número de Vendas: 3
Cliente: Cliente 29 - Número de Vendas: 3
Cliente: Cliente 64 - Número de Vendas: 3
Cliente: Cliente 32 - Número de Vendas: 3
Cliente: Cliente 116 - Número de Vendas: 3
Cliente: Cliente 47 - Número de Vendas: 3
Cliente: Cliente 40 - Número de Vendas: 3
Cliente: Cliente 59 - Número de Vendas: 3
Cliente: Cliente 138 - Número de Vendas: 3
Cliente: Cliente 33 - Número de Vendas: 4
Cliente: Cliente 96 - Número de Vendas: 4
Cliente: Cliente 15 - Número de Vendas: 4
Cliente: Cliente 27 - Número de Vendas: 4
Cliente: Cliente 109 - Número de Vendas: 5
Cliente: Cliente 89 - Número de Vendas: 5
Cliente: Cliente 38 - Número de Vendas: 5
Cliente: Cliente 42 - Número de Vendas: 6
Cliente: Cliente 82 - Número de Vendas: 6
Cliente: Cliente 94 - Número de Vendas: 6
Cliente: Cliente 21 - Número de Vendas: 6
Cliente: Cliente 68 - Número de Vendas: 7
Cliente: Cliente 76 - Número de Vendas: 7
Cliente: Cliente 23 - Número de Vendas: 8
Cliente: Cliente 34 - Número de Vendas: 8
Cliente: Cliente 75 - Número de Vendas: 8
Cliente: Cliente 71 - Número de Vendas: 9
Cliente: Cliente 37 - Número de Vendas: 9
Cliente: Cliente 44 - Número de Vendas: 9
Cliente: Cliente 7 - Número de Vendas: 10
Cliente: Cliente 50 - Número de Vendas: 11
Cliente: Cliente 12 - Número de Vendas: 11
Cliente: Cliente 24 - Número de Vendas: 13
Cliente: Cliente 43 - Número de Vendas: 13
Cliente: Cliente 31 - Número de Vendas: 14
Cliente: Cliente 9 - Número de Vendas: 17
Cliente: Cliente 52 - Número de Vendas: 17
Cliente: Cliente 16 - Número de Vendas: 19
Cliente: Cliente 30 - Número de Vendas: 20
Cliente: Cliente 2 - Número de Vendas: 21
Cliente: Cliente 14 - Número de Vendas: 21
Cliente: Cliente 26 - Número de Vendas: 25
Cliente: Cliente 13 - Número de Vendas: 26
Cliente: Cliente 3 - Número de Vendas: 31
Cliente: Cliente 10 - Número de Vendas: 43
Cliente: Cliente 4 - Número de Vendas: 60
Cliente: Cliente 8 - Número de Vendas: 61
Cliente: Cliente 5 - Número de Vendas: 128